{% extends "base.html" %}
{% load static %}
{% block title %}Sands{% endblock %}

{% block body %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sands.css' %}">
<script src="{% static 'js/filter_sands.js' %}"></script>
{% endblock %}

<div class="navbar">
  <a href="{% url 'authentication:index' %}">Tropics</a>
  <input class = "searchbar" placeholder = "Filter sands here..." onkeyup="filter()" id = "search"/>
</div>

<div class = "grid">
  {% for sand in sands %}
    <div class = "sand">
      <div class = "sand-header">
        <a class = "sand-name" href="{% url 'sands:sand' sand.id sand.slug %}">{{sand.name}}</a>
        <p class = "sand-tag">{{sand.category}}</p>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}