{% extends "base.html" %}
{% load sand_tags %}
{% load static %}
{% block title %}{{sand.name}} | Tropics{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sand.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks/dist/css/stacks.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks-editor/dist/styles.css">

    <script src="https://unpkg.com/commonmark@0.29.3/dist/commonmark.js"></script>
    
    <script type="text/javascript">
        // Initialize common mark (Markdown) parser and renderer
        var reader = new commonmark.Parser();
        var writer = new commonmark.HtmlRenderer();
    </script>
{% endblock %}

{% block body %}
    <div class="navbar">
      <a href="{% url 'authentication:index' %}">Tropics</a>
      <input class = "searchbar" placeholder = "Filter waters here..." onkeyup="filter()" id = "search"/>
    </div>
    <div class="navbar-spacing"></div>
    <div class="container">
        <div class="left-container">
            <a class = "left-button" href = "{% url 'sands:index' %}">Sands</a>
        </div>
        <div class="right-container">
            <div class="header">
                <h1 class="sand-name">{{sand.name}}</h1>
                <div class="sand-details">
                    {% if sand.aka %}
                        <p class="sand-detail">Also called: {{sand.aka}}</p>
                    {% endif %}
                    <p class="sand-detail">{{sand.category}}</p>
                    <p class="sand-detail">Viewed {{num_views}} time{{ num_views|pluralize:",s" }}</p>
                    <p class="sand-detail">{{waters|count_waters}} water{{ waters|count_waters|pluralize:",s" }}</p>
                </div>
                <div class="sand-details">
                    {% for teacher in sand.teachers.all %}
                        <p class="sand-teacher" {% if teacher.fcps_email %}title="{{teacher.fcps_email}}"{% endif %}>{{teacher.display_name}}</p>
                    {% endfor %}
                    
                    <form action = "" method = "POST" class = "add-teacher">
                        {% csrf_token %}
                        {{teacher_form}}
                        <input type = "submit" value = "Add Teacher" name = "add_teacher">
                    </form>
                </div>
            </div>
            <div class="main">
                {% for water in waters %}
                    {% if not water.author.is_banned and not water.deleted or user|can_moderate:water.author %}
                        <div class = "water{% if water.deleted or water.author.is_banned %} deleted-water{% endif %}" id = {{water.id}}>
                            <div class = "mango-container">
                                <form action = 
                                "
                                {% if user|gave_mango:water %}
                                    {% url 'waters:take_back_mango' water.id %}
                                {% else %}
                                    {% url 'waters:give_mango' water.id %}
                                {% endif %}
                                " 
                                method = "POST" class = "mango-form">
                                    {% csrf_token %}
                                    {% if user|gave_mango:water %}
                                        <input type="hidden" value={{water.id}} name="remove_mango" />
                                        <input type="image" src="{% static 'images/gave_mango.png' %}" class = "mango"/>
                                    {% else %}
                                        <input type="hidden" value={{water.id}} name="give_mango" />
                                        <input type="image" src="{% static 'images/kept_mango.png' %}" class = "mango"/>
                                    {% endif %}
                                </form>
                                <p class="num-mangoes">{{water.mangoes}}</p>
                            </div>
                            <div class = "water-content">
                                {% if water.deleted %}
                                    <div class = "water-notice">
                                        This water is hidden <span style = "font-weight: normal;">because the water has been evaporated.</span>
                                    </div>
                                {% elif water.author.is_banned %}
                                    <div class = "water-notice">
                                        This water is hidden <span style = "font-weight: normal;">because the author has been banned.</span>
                                    </div>
                                {% endif %}
                                <p class="s-prose" id="water-text-content-{{water.id}}"></p>
        
                                <div class = "water-footer">
                                    <div class = "water-menu">
                                        {% if not water.deleted or user.has_management_permission %}
                                            <form class="water-menu-item" onsubmit = "return false;">
                                                <input type="submit" id="share-{{water.id}}" value = "Share"/>
                                            </form>
                                        {% endif %}
                                        {% if user|can_moderate:water.author %}
                                            {% if not water.deleted or user.has_management_permission %}
                                                <form class="water-menu-item" action = "{% url 'waters:edit' water.id %}" method = "POST">
                                                    {% csrf_token %}
                                                    <input type="submit" value = "Churn"/>
                                                </form>
                                            {% endif %}
                                            {% if not water.deleted %}
                                                <form class="water-menu-item" action = "{% url 'waters:delete' water.id %}" method = "POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" value={{water.id}} name="delete" />
                                                    <input type="submit" onclick="delete_water(event)" value = "Evaporate"/>
                                                </form>
                                            {% elif user.has_management_permission %}
                                                <form class="water-menu-item deleted-water-menu-item" action = "{% url 'waters:undelete' water.id %}" method = "POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" value={{water.id}} name="undelete" />
                                                    <input type="submit" onclick="undelete_water(event)" value = "Condense"/>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if not water.date_edited|same_time:water.date_added %}
                                        <div class = "water-signature">
                                            <p>churned {{water.date_edited|format_time}}</p>
                                        </div>
                                    {% endif %}
                                    <div class="water-signature{% if water.author.has_management_permission %} staff-water-signature{% endif %}">
                                        <p class = "water-date-tag">flowed {{water.date_added|format_time}}</p>
                                        <div class = "water-details">
                                            <img class = "avatar" src = "{{water.author.email|get_gravatar}}">
                                            <div class = "water-user-details">
                                                <p class = "water-user-name">
                                                    {{water.author.full_name}}
                                                    {% if water.author.has_management_permission %}
                                                        <span title = "Staff" style = "font-weight: bold;">♦</span>
                                                    {% elif water.author.is_banned %}
                                                        <span title = "Banned" style = "font-weight: bold;">❌</span>
                                                    {% endif %}
                                                </p>
                                                <p class = "water-user-qualification">{{water.author.qualification}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script type="text/javascript">
                            var parsed = reader.parse('{{water.content|safe}}');
                            var result = writer.render(parsed); // result is a String
                            document.getElementById("water-text-content-{{water.id}}").innerHTML = result;
                            document.getElementById("share-{{water.id}}").setAttribute("onclick", "copy('" + window.location.origin + "/waters/" + "{{water.id}}', 'Copied Share Link')");
                        </script>
                    {% endif %}
    
                {% endfor %}
    
                <div class = "create-water">
                    <h1 class = "create-water-header">Your Water</h1>
                    <form action = "" method = "POST" onsubmit="return createWater(event);">
                        {% csrf_token %}
                        <div id="editor-container"></div>
                        <input type="hidden" name="content" id="water_content">
                        <input type = "submit" value = "Add Your Water">
                    </form>
                </div>
    
            </div>
            <div class = "side">
                <div class = "trending">
                    <div class = "trending-header">
                        Hot Sands
                    </div>
                    {% for s in hot_sands %}
                        <a class = "trending-detail" href="{% url 'sands:sand' s.id s.slug %}">{{s}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/@stackoverflow/stacks/dist/js/stacks.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@latest/highlight.min.js"></script>
    <script src="https://unpkg.com/@stackoverflow/stacks-editor/dist/app.bundle.js"></script>
    <script src="{% static 'js/filter_waters.js' %}"></script>
    <script type="text/javascript">
        function delete_water(e) {
            if(!confirm("Evporate this water?")){
                //prevent sending the request when user clicked "Cancel"
                e.preventDefault();
            }
        }
        
        function undelete_water(e) {
            if(!confirm("Condense this water?")) {
                //prevent sending the request when user clicked "Cancel"
                e.preventDefault();
            }
        }

        function createMessage(message, success = true) {
            var snackbar = document.createElement("div");
            snackbar.setAttribute("id", "snackbar");
            if(success == true) {
                snackbar.classList.add("snackbar-blue");
            }else{
                snackbar.classList.add("snackbar-red");
            }
            snackbar.innerHTML = message;
            document.body.appendChild(snackbar);
            setTimeout(remove, 3500);
    
            function remove() {
                snackbar.remove();
            }
        }
    
        new window.stacksEditor.StacksEditor(
          document.querySelector("#editor-container"),
          "", {}
        );
    
        function createWater(event) {
            var changed = false;
            if(document.querySelector(".s-code-block") == null) {
                changed = true;
                document.getElementsByClassName("js-editor-toggle-btn")[1].click();
            }
    
            var content = document.getElementsByClassName("s-code-block")[0].textContent;
    
            if(content.length < 25) {
                createMessage("Please add more content!");
                if(changed == true) {
                    document.getElementsByClassName("js-editor-toggle-btn")[0].click();
                }
                return false;
            }else{
                document.getElementById("water_content").value = content.replace(/\n/g, "\\n").replace(/'/g, "\'").replace(/"/g, '\"');
                return true;
            }
        }
    
        function copy(message_to_copy, log_message) {
            var TempText = document.createElement("input");
            TempText.value = message_to_copy;
            document.body.appendChild(TempText);
            TempText.select();
            document.execCommand("copy");
            document.body.removeChild(TempText);
            createMessage(log_message);
        }
        
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    var success = true;
                {% else %}
                    var success = false;
                {% endif %}
                createMessage("{{message}}", success);
            {% endfor %}
        {% endif %}
    
        {% if go_to_water %}
            document.getElementById("{{ go_to_water }}").scrollIntoView();
        {% endif %}
    </script>

{% endblock %}