.main h1 {
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.main h2 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.main p {
    font-size: 14px;
    margin-bottom: 15px;
}